gradio
trimesh==3.9.42

h5py
matplotlib
numpy==1.24.1
torch==1.13.1
scipy==1.10.0
torchaudio==0.13.1
torchvision==0.14.1
json5==0.9.14
einops==0.7.0
huggingface-hub==0.19.
timm==0.6.12
tqdm==4.64.1
opencv-python==4.8.1.78
imageio==2.31.6
transformers==4.35.2
open_clip_torch==2.0.2
pytorch-lightning==1.5.0
omegaconf==2.1.1